body{
    
    background-image: url( "./download2.jpg" );
    background-size:cover;

}
.container
{

    border:5px solid black;
    height: 1400px;
    width: 30cmpx;
    display: flex;
    
    align-items: flex-start;
    margin: 0px;
    margin-left: 1000px;
    margin-right: 1000px;
    justify-content:left;
    flex-direction:row;
    flex-wrap: wrap;

}

.content{
    font-size: 100px;
    border: 5px solid brown;
    background-color: rgb(226, 221, 148);
    text-align: center;
    margin:0 50px;
    margin-left: 1000px;
    margin-right: 1000px;
    margin-top: 600px;
}
.item{
     width:400px;
    height: 400px;
    display: flex;
    justify-items: flex-end;
    margin:0 100px;
    padding:5px ;
    flex-direction:column;
    border: 1px solid black;
}




    